.but {
    display: flex;
    color:rgb(188, 119, 252);
    font-size: 40px;
    cursor: pointer;
    transition:.3s ease all;
    position:absolute;
    text-align: center;
    background-color: whitesmoke;
    justify-content: center;
    left: 800px;
    
     
}
@media screen and (max-width: 1500px)
{
   .but{display: flex;
    color:rgb(169, 58, 212);
    font-size: 40px;
    cursor: pointer;
    transition:.3s ease all;
    position:absolute;
    text-align: center;
    background-color: azure;
    justify-content: center;
    left: 360px;
    margin: 20px; 
       
   }

}
@media screen and (max-width: 2500px)
 {
    .bolacristal{
        display: flex;
        font-size: 20px;
        background:url(img/oracle3.png);
        background-size: cover;
        justify-content: center;
        align-items: center;
        height: 750px;
        background-image: center;
        margin-bottom: 2px;
        
    }
  }
  
    @media screen and (max-width: 1500px)
    {
       .bolacristal{
           display: flex;
           font-size: 20px;
           background: url(img/960x0.jpg);
           background-size: cover;
           justify-content: center;
           align-items: center;
           height: 800px;
           background-image: center;
       }
          
  }
  

.ui {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-size-adjust: 20px;
}
.titulo{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    color: azure;
}

.para{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    color: azure;
    
}
body,html{
    height:100%;
    margin:0;
}

.bg{
    background-image: url(img/galax.jpg);
}